@page
@model LEH.Pages.Users.IndexModel
@{
ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
    <tr>
        <td>@user.Username</td>
    </tr>
    }
    </tbody>
</table>